---
- include_vars: jail.yml

- debug: var=jail

- name: create jail
  iocage: 
    name: '{{ jail.name }}'
    properties: '{{ jail.properties }}'
    state: present
  register: iocage_jail

- name: mkdir .ssh
  file:
    dest: '/iocage/jails/{{ iocage_jail.name }}/root/root/.ssh'
    mode: '0700'
    state: directory
  when: 'iocage_jail.changed and jail.name not in iocage_jail.ansible_facts.iocage_templates'
  
- name: set sshd root
  copy:
    remote_src: True
    src: /root/.ssh/authorized_keys
    directory_mode: '0700'
    dest: '/iocage/jails/{{ iocage_jail.name }}/root/root/.ssh/authorized_keys'
  when: 'iocage_jail.changed and jail.name not in iocage_jail.ansible_facts.iocage_templates'

- name: restore ssh host keys
  copy:
    src: '{{ sshkey }}'
    dest: '/iocage/jails/{{ iocage_jail.name }}/root/etc/ssh/{{ sshkey | regex_replace(".*/","") }}'
    mode: '0600'
  with_fileglob:
    - '{{ playbook_dir }}/files/ssh/{{ iocage_jail.name }}/ssh_host*_key'
  loop_control:
    loop_var: sshkey
  when: 'iocage_jail.changed == True and jail.name not in iocage_jail.ansible_facts.iocage_templates'

- name: initial permit root login
  lineinfile:
    line: 'PermitRootLogin without-password'
    regexp: '^PermitRootLogin'
    dest: '/iocage/jails/{{ iocage_jail.name }}/root/etc/ssh/sshd_config'
  when: 'iocage_jail.changed == True and jail.name not in iocage_jail.ansible_facts.iocage_templates'

- name: enable sshd
  lineinfile:
    dest: '/iocage/jails/{{ iocage_jail.name }}/root/etc/rc.conf'
    line: 'sshd_enable="YES"'
  notify: restart jail
  when: 'jail.name not in iocage_jail.ansible_facts.iocage_templates'

- name: copy fstab
  template:
    src: '{{ jail.fstab }}'
    dest: '/iocage/jails/{{ iocage_jail.name }}/fstab'
  when: '"fstab" in jail and jail.fstab != "" and jail.name not in iocage_jail.ansible_facts.iocage_templates'
  notify: restart jail
  register: jail_fstab

- name: get fstab mountpoints
  shell: "awk '{print $2}' /iocage/jails/{{ iocage_jail.name }}/fstab"
  register: mntdirs
  changed_when: False
  failed_when: False
  when: jail_fstab.changed == True

- name: mkdir fstab mountpoints
  file:
    state: directory
    dest: '{{ dir }}'
  when: 'jail_fstab.changed == True and jail.name not in iocage_jail.ansible_facts.iocage_templates'
  with_items: '{{ mntdirs.stdout_lines | default([]) }}'
  loop_control:
    loop_var: dir
  notify: restart jail

- name: start jail
  iocage:
    name: '{{ jail.name }}'
    state: started
  when: 'jail.name not in iocage_jail.ansible_facts.iocage_templates'

- name: check for pkg
  stat:
    path: '/iocage/jails/{{ iocage_jail.name }}/root/usr/local/sbin/pkg'
  register: pkg_installed

- name: install python in jail
  shell: 'env ASSUME_ALWAYS_YES=yes pkg -c /iocage/jails/{{ iocage_jail.name }}/root install -y pkg python rsync'
  when: 'not pkg_installed.stat.exists and jail.name not in iocage_jail.ansible_facts.iocage_templates'

- name: add jail to inventory
  add_host:
    name: '{{ jail.name }}'
    hostname: '{{ jail.hostname }}'
    groups: [ iojails ]
    iocage_host: '{{ inventory_hostname }}'
    ansible_ssh_host: 'ioc-{{ jail.name }}@{{ inventory_hostname }}'
    ansible_connection: sshjail
    ansible_python_interpreter: '{{ ansible_python_interpreter }}'
  when: 'jail.name not in hostvars'
  changed_when: False

- name: add jail fact to host
  blockinfile:
    path: '{{ etcprefix }}/etc/ansible/facts.d/jails.fact }}'
    marker: "# {mark} ANSIBLE BLOCK jail {{ jail.name }}"
    block: '{{ jail }}'
    create: yes

- name: add host fact to jail
  set_fact:
    iojail:
      host: '{{ inventory_hostname }}'
    cacheable: yes
  delegate_to: '{{ jail.name }}'

- file:
    path: '{{ etcprefix }}/etc/ansible/facts.d'
    state: directory
  delegate_to: '{{ jail.name }}'

- name: jail local fact
  copy:
    dest: '{{ etcprefix }}/etc/ansible/facts.d/iojail.fact'
    content: |
      [host]
      {{ inventory_hostname }}
  delegate_to: '{{ jail.name }}'
