---
- name: iocage pkg
  pkgng:
    name: py36-iocage
    state: present
  tags: iocage,hostinit,pkg

- name: mount fdescfs
  mount:
    fstype: fdescfs
    path: /dev/fd
    src: fdesc
    state: mounted
  tags: iocage,hostinit

- command: zfs list -H -o name /iocage
  register: zfs_list_iocage
  failed_when: False
  changed_when: False
  tags: iocage,hostinit
  check_mode: False
  
- name: mark zpool for iocage
  command: '/usr/local/bin/iocage activate {{ iocage_zpool }}'
  when: 'zfs_list_iocage.stdout_lines | length == 0'
  tags: iocage, hostinit

- name: get release
  shell: "uname -r | sed 's/-p[0-9]*//'"
  register: releasecmd
  changed_when: False
  check_mode: False
  tags: iocage, hostinit

- name: get release state
  stat:
    path: '/iocage/releases/{{ releasecmd.stdout }}/root/bin/freebsd-version'
  register: relfile
  tags: iocage, hostinit

- name: initialize iocage
  iocage:
    state: fetched
    args: '{{ iocage_fetch_args }}'
    release: '{{ releasecmd.stdout }}'
  register: ioc_fetch
  failed_when: '"successfully" not in ioc_fetch.stdout_lines or "ready" not in ioc_fetch.stdout_lines'
  tags: iocage, hostinit
  when: not relfile.stat.exists

- name: Enable iocage service
  service:
    name: iocage
    enabled: True
  tags: iocage, hostinit

- name: load accf_http and accf_data
  lineinfile:
    dest: /boot/loader.conf
    line: '{{ item }}'
  with_items:
    - 'accf_http_load="YES"'
    - 'accf_data_load="YES"'
  tags: iocage, hostinit
- name: enable racct/rctl
  lineinfile:
    dest: /boot/loader.conf
    line: 'kern.racct.enable=1'
  tags: iocage, hostinit

#- name: get iocage current jails
#  shell: "/usr/local/sbin/iocage list |grep '^[0-9]' | awk '{print $5}'"
#  register: iocage_jails
#  failed_when: False
#  changed_when: False
#  tags: iocage, newjails

# creer un/des jails
- name: pkglist.json
  copy:
    src: pkglist.json
    dest: /iocage/pkglist.json
  tags: iocage, newjails

#- name: create basejail
#  iocage:
#    name: "basejail"
#    release: '{{ releasecmd.stdout }}'
#    state: basejail
#  tags: iocage, hostinit
#  when: 'jail_list | count() > 0'

- include_tasks: jail.yml
  with_items: '{{ jail_list }}'
  loop_control:
    loop_var: onejail
  tags: iocage, jails

